version: "3.9"

services:
  frontend:
    build:
      context: ./web
      dockerfile: Dockerfile.react
    ports:
      - "8080:8080"
    volumes:
      - ./web:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - master
      - client

  master:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: python3 master_node.py
    volumes:
      - ./data/master:/data/master
    ports:
      - "8000:8000"

  client:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: python3 client_script.py
    ports:
      - "8001:8001"

  chunk1:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - SERVER_ID=chunk_server_1
      - SERVER_PORT=9001
    command: python3 chunk_server.py
    volumes:
      - ./data/chunk1:/data/chunks
    ports:
      - "9001:9001"

  chunk2:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - SERVER_ID=chunk_server_2
      - SERVER_PORT=9002
    command: python3 chunk_server.py
    volumes:
      - ./data/chunk2:/data/chunks
    ports:
      - "9002:9002"

  chunk3:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - SERVER_ID=chunk_server_3
      - SERVER_PORT=9003
    command: python3 chunk_server.py
    volumes:
      - ./data/chunk3:/data/chunks
    ports:
      - "9003:9003"

